@font-face {
  font-family: 'arizona-flare-light';
  src: url('./fonts/ABCArizonaFlare-Light.woff2') format("woff2");
  src: url('./fonts/ABCArizonaFlare-Light.woff') format("woff");
  src: local('☺︎'),
    url('./fonts/ABCArizonaFlare-Light.woff2') format("woff2");
    url('./fonts/ABCArizonaFlare-Light.woff') format("woff");
  }
@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: 'arizona-flare-light';
    src: url('./fonts/ABCArizonaFlare-Light.woff2') format("woff2");
    src: url('./fonts/ABCArizonaFlare-Light.woff') format("woff");
}}

:root {
  --gutter: 8px;
  --margin: 16px;
  --sectionMargin: 130px;
  --transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  --white: #FFF;
  --black: #000;
  --lightGray: #EDEDED;
  --gray: #E3E3E3;
  --darkGray: #A0A0A0;
}

html {
  font-family: 'neue-haas-unica', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  background-color: var(--white);
  font-size: 15px;
  line-height: 18px;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5 {
  font-weight: 400;
  margin: 0;
}
.arizona {
  font-family: 'arizona-flare-light', 'Times New Roman', Times, serif;
  font-weight: 200;
}
.arizona.l {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.arizona.xl {
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.04em;
}
a {
  text-decoration: none;
}
a:visited,
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}
.btn {
  background-color: var(--gray);
  padding: 2px 18px 5px;
  text-decoration: none;
  border-radius: 18px;
  border: none;
  line-height: 18px;
  display: inline;
  cursor: pointer;
  color: inherit;
}
button.btn {
  line-height: initial;
}
.btn>a {
  text-decoration: none !important;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.btn>a:hover {
  color: var(--white) !important;
}
.btn.primary {
  background-color: var(--black);
  color: var(--white);
  padding: 2px 18px 5px;
  border-radius: var(--gutter);
  font-size: 22px;
  line-height: 26px;
  display: inline;
  cursor: pointer;
  height: 40px;
}
.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.mobileOnly {
  display: none !important;
}

/* BOOK EMBED */
:root {
  --ldg-bnb-background: #ffffff;
  --ldg-bnb-border-radius: var(--gutter);
  --ldg-bnb-box-shadow: 0px 24px 54px 0px rgba(0, 0, 0, 0.05);
  --ldg-bnb-padding: 16px;
  --ldg-bnb-input-background: #ffffff;
  --ldg-bnb-button-border-radius: var(--gutter);
  --ldg-bnb-color-primary: #000000;
  --ldg-bnb-color-primary-lighter:#808080;
  --ldg-bnb-color-primary-darker: #000000;
  --ldg-bnb-color-primary-contrast: #ffffff;
  --ldg-component-calendar-cell-selection-bg-color: #000000;
  --ldg-component-calendar-cell-selection-color: #ffffff;
  --ldg-component-calendar-cell-selected-bg-color: #808080;
  --ldg-component-calendar-cell-selected-color: #ffffff;
  --ldg-bnb-font-family: inherit;
}
#lodgify-book-now-background {    
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw !important;
  height: 100dvh;
  background-color: #FFF;
  opacity: .9;
  z-index: 2;
}
.lodgify-book-now-box {
  width: auto;
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 999;
}
.css-8xvdw6.styled-override {
  background-color: var(--black) !important;
  color: var(--white) !important;
  padding: 2px 18px 5px;
  border-radius: var(--gutter) !important;
  font-size: 22px;
  line-height: 33px;
  display: block;
  cursor: pointer;
  text-align: center;
}
.css-d2bpmy {
  display: none !important;
}
.css-1mwn02k {
  margin-top: 1em !important;
}
.css-mu0s7e::after {
  content: "Guest(s)" !important;
}
.css-1r7u6rr:hover {
  height: 34px !important;
  padding: 0 !important;
}


@media only screen and (max-width: 900px) {
  :root {
    --margin: 12px;
    --sectionMargin: 130px;
    --transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    --white: #FFF;
    --black: #000;
    --lightGray: #EDEDED;
    --gray: #E3E3E3;
    --darkGray: #A0A0A0;
  }
  html {
    font-size: 14px;
    line-height: 17px;
  }
  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: block !important;
  }
  .btn,
  .btn-mobile {
    background-color: var(--gray);
    padding: 1px 14px 4px;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    line-height: 18px;
    display: inline;
    cursor: pointer;
  }
  .arizona.l {
    font-size: 35px;
    line-height: 35px;
  }
  .arizona.xl {
    font-size: 50px;
    line-height: 50px;
  }
}